# Dependencias (esta es la más importante)
node_modules/

# Archivos de configuración de NPM
npm-debug.log*

# Archivos del sistema (opcional)
.DS_Store
Thumbs.db

# Si usas VS Code para tus configuraciones locales
.vscode/