.x-followCard {
    display: flex;
    gap: 4px;
    font-size: 0.8rem;
    align-items: center;
    justify-content: space-between;
    padding: 15px
}

.x-followCard:hover {
    background-color: #1f1d1d;
    cursor: pointer;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.x-followCard-header {
    display: flex;
    gap: 4px;
    align-items: center;
}

.x-followCard-avatar {
    width: 48px;
    height: 48px;
    border-radius: 9999px;
    margin-right: 5px;
}

.x-followCard-info {
    display: flex;
    flex-direction: column;
}

.x-followCard-userName {
    opacity: 0.6;
}

.x-followCard-button {
    margin-left: auto;
    padding: 6px 16px;
    border-radius: 9999px;
    font-weight: 600;
    font-size: 0.8rem;
    background-color: #fff;
    color: black;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
}

.x-followCard-button:hover {
    opacity: 0.8;
}

.x-followCard-button.is-following:hover {
    background-color: rgba(255, 0, 0, 0.089);
    border: 1px solid red;
    color: red;
}

.x-followCard-button.is-following {
    background-color: transparent;
    border: 1px solid #bbb;
    color: white;
    width: 135px;
}

.x-followCard-stopFollow {
    display: none;
}

.x-followCard-button.is-following:hover .x-followCard-stopFollow {
    display: block;
}

.x-followCard-button.is-following:hover .x-followCard-follow {
    display: none;
} 