body {
    margin: 0;
    background-color: #222;
    font-family: system-ui;
    color: white;
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.App {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: darkmagenta;
    min-width: 300px;
}