.x-followCard {
    display: flex;
    gap: 4px;
    font-size: 0.8rem;
    align-items: center;
    justify-content: space-between;
    width: 250px;
}

.x-followCard-header {
    display: flex;
    gap: 4px;
    align-items: center;
}

.x-followCard-avatar {
    width: 48px;
    height: 48px;
    border-radius: 9999px;
    margin-right: 5px;
}

.x-followCard-info {
    display: flex;
    flex-direction: column;
}

.x-followCard-userName {
    opacity: 0.6;
}

.x-followCard-button {
    margin-left: auto;
    padding: 6px 16px;
    border-radius: 9999px;
    font-weight: 600;
    font-size: 0.8rem;
    background-color: #fff;
    color: black;
    border: none;
    font-weight: bold;
    cursor: pointer;
}