.td-task-item-container {
    display: flex;
    align-items: center;
    background-color: #7b7f88;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    gap: 0.5rem;
    text-align: left;
    padding: 1rem;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    box-shadow: #0000002f 0px 3px 8px;
}

.td-task-input {
    width: unset;
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
    width: 20px;
    height: 20px;
    appearance: none;
    background-color: transparent;
    border: 1.5px solid rgb(90 94 101);
}

.td-task-item.completed {
    text-decoration: line-through;
    opacity: 0.7;
}

.td-task-input:checked {
    background-color: blueviolet;
    border: none;
}